# -----------------------------
# Python Virtual Environment
# -----------------------------
venv/
env/
.venv/



# -----------------------------
# Python Cache / Compiled Files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code Settings
# -----------------------------
.vscode/

# -----------------------------
# System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log
